In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor

In [2]:
data = pd.read_csv("data.csv")
data

        Month  Sunspots
0     1749-01      58.0
1     1749-02      62.6
2     1749-03      70.0
3     1749-04      55.7
4     1749-05      85.0
...       ...       ...
2815  1983-08      71.8
2816  1983-09      50.3
2817  1983-10      55.8
2818  1983-11      33.3
2819  1983-12      33.4

[2820 rows x 2 columns]

In [3]:
# 2. PREPROCESAMIENTO DE DATOS
# Convertir la columna "Month" en un número de meses desde la fecha inicial
data['Month'] = pd.to_datetime(data['Month'])
data

          Month  Sunspots
0    1749-01-01      58.0
1    1749-02-01      62.6
2    1749-03-01      70.0
3    1749-04-01      55.7
4    1749-05-01      85.0
...         ...       ...
2815 1983-08-01      71.8
2816 1983-09-01      50.3
2817 1983-10-01      55.8
2818 1983-11-01      33.3
2819 1983-12-01      33.4

[2820 rows x 2 columns]

In [7]:
# 3. PREPROCESAMIENTO DE DATOS
# Dividir el dataset en features (X) y target (y)
X = data[['Month']]
y = data['Sunspots']

# Normalizar los datos
scaler_X = MinMaxScaler()
scaler_y = MinMaxScaler()
X = scaler_X.fit_transform(X)
y = scaler_y.fit_transform(y.values.reshape(-1, 1))

### Primera Red: Feed Forward NN (Red Simple)

In [8]:
# Dividir en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 4. CONSTRUIR Y ENTRENAR EL MODELO
# Creando un modelo de perceptrón multicapa (MLP)
mlp = MLPRegressor(hidden_layer_sizes=(64, 32), activation='relu', solver='adam', max_iter=1000, random_state=42)

# Entrenando el modelo
mlp.fit(X_train, y_train.ravel())

# 5. EVALUAR EL MODELO
mlp_loss = ((mlp.predict(X_test) - y_test.ravel())**2).mean()
print(f"MSE: {mlp_loss}")

MSE: 0.026854056760068266

### Segunda Red: RNN

### Tercera Red: RNN

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor

In [4]:
# 1. CARGANDO LOS DATOS
data_lstm = pd.read_csv("data.csv")

# 2. PREPROCESAMIENTO DE DATOS
# Convertir la columna "Month" en un formato de fecha
data_lstm['Month'] = pd.to_datetime(data_lstm['Month'])

In [5]:

# Escalar la columna "Sunspots"
scaler = MinMaxScaler()
data_lstm["Sunspots"] = scaler.fit_transform(data_lstm["Sunspots"].values.reshape(-1, 1))

# Crear secuencias de datos
SEQUENCE_LENGTH = 10  # Longitud de la secuencia

X, y = [], []
for i in range(len(data_lstm) - SEQUENCE_LENGTH):
    X.append(data_lstm["Sunspots"].iloc[i : i + SEQUENCE_LENGTH].values)
    y.append(data_lstm["Sunspots"].iloc[i + SEQUENCE_LENGTH])

# Convertir a arrays numpy para el entrenamiento
X = np.array(X)
y = np.array(y)

# Dividir en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 3. CONSTRUIR Y ENTRENAR EL MODELO
# Creando un modelo de perceptrón multicapa (MLP) como aproximación de LSTM
mlp_lstm = MLPRegressor(hidden_layer_sizes=(100, 50), activation='relu', solver='adam', max_iter=1000, random_state=42)

# Entrenar el modelo
mlp_lstm.fit(X_train, y_train)

# 4. EVALUAR EL MODELO
mlp_lstm_loss = ((mlp_lstm.predict(X_test) - y_test)**2).mean()
print(f"MSE: {mlp_lstm_loss}")

MSE: 0.004208807754181248